/* Estilo Geral */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #74ebd5 0%, #9face6 100%);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh; /* Altura da tela */
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  max-width: 500px; /* Largura máxima */
  width: 100%; /* Largura 100% */
  text-align: center;
}

h1 {
  color: #4a4a4a;
  margin-bottom: 20px;
  font-size: 2.2rem; /* Tamanho ajustado para dispositivos móveis */
  font-weight: 700;
  letter-spacing: 1px;
}

/* Tabela de seleção de horas */
#tabelaDescanso {
  display: flex;
  flex-wrap: wrap; /* Permite que as colunas se ajustem ao tamanho da tela */
  justify-content: center; /* Centraliza as colunas */
  margin: 20px 0;
}

.coluna {
  display: flex;
  flex-direction: column; /* Colunas verticais */
  align-items: flex-start; /* Alinha os checkboxes à esquerda */
  width: 45%; /* Ajusta a largura das colunas para caberem lado a lado */
  margin: 5px; /* Espaçamento entre colunas */
}

.coluna label {
  margin: 5px 0; /* Espaçamento entre os checkboxes */
}

input[type="number"], button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid #ddd;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="number"]:focus, button:focus {
  border-color: #007bff;
  box-shadow: 0px 6px 12px rgba(0, 123, 255, 0.2);
  outline: none;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.3);
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0px 6px 14px rgba(0, 123, 255, 0.4);
}

.result {
  margin-top: 30px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  display: none; /* Inicialmente invisível */
}

.result p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #4a4a4a;
  font-weight: 500;
}

/* Responsividade */
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem; /* Tamanho do título ajustado */
  }

  .coluna {
    width: 100%; /* Colunas ocupam 100% da largura em telas pequenas */
    margin: 5px 0; /* Margem reduzida entre colunas */
  }

  #tabelaDescanso {
    flex-direction: column; /* Colunas em linha única em telas pequenas */
    align-items: center; /* Centraliza as colunas */
  }

  input[type="number"], button {
    font-size: 16px; /* Tamanho da fonte dos inputs e botões */
    padding: 10px; /* Ajusta o padding */
  }
}
